/*Primary color of text color: #757575;  */
/* color of buttons blue and text in background: #2196f3; color: #FFFFFF; */
/* staf positions color: #757575; */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --logo-black-color: #000000;
  --white-primary-color: #ffffff;
}

/* Fonts */
@font-face {
    font-family: roboto-400;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: roboto-700;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: roboto-500;
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: roboto-900;
    src: url(../fonts/Roboto/Roboto-Black.ttf);
}
@font-face {
    font-family: raleway-700;
    src: url(../fonts/Raleway/Raleway-VariableFont_wght.ttf);
}


body {
  color: var(--primary-text-color);
  background-color: var(--white-primary-color);
  font-family: "Roboto" sans-serif;
}
.list {
  list-style: none;
}
.logo {
  color: var(--logo-black-color-color);
}
.logo-web {
  color: var(--accent-color);
}

/* Site Nav */
.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current{
color: var(--accent-color);
}

/* HERO */

/* .hero{
color: #FFFFFF;
} */

/* Section */
.section-title {
  color: var(--title-text-color);
}

/* Features */
.features-list .title {
  color: var(--title-text-color);
}

/* Button */
.button {
  color: var(--white-primary-color);
  background-color: var(--accent-color);
}
.button.primary {
  color: var(--white-primary-color);
  background-color: var(--accent-color);
}
